<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/spot_it"
        android:label="Spot it"
        android:roundIcon="@drawable/spot_it"
        android:supportsRtl="true"
        android:theme="@style/Theme.I201868"
        tools:targetApi="31">
        <activity
            android:name=".FifteenScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FourteenScreen"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ThirteenScreen"
            android:exported="true"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".TwelvethScreen"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EleventhScreen"
            android:exported="true" />
        <activity
            android:name=".TenthScreen"
            android:exported="true" />
        <activity
            android:name=".EighteenScreen"
            android:exported="true" />
        <activity
            android:name=".NinthScreen"
            android:exported="true" />
        <activity
            android:name=".EighthScreen"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SeventhScreen"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SixthScreen"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FifthScreen"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FourthScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ThirdScreen"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SecondScreen"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FirstScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>